@import "configuration.scss";
*{
    margin: 0px;
}
.obshi{
    width: 100%;
    height: 100vh;
    .navbar{
     width: 100%;
     height: 80px;
     background-color: #c5a28f;
     top: 0;
     display: flex;
     position: fixed;
     font-family: 'Playfair Display', serif;
     .h11{
        padding: 15px;
     }
     a{
        margin-left: 650px;
        display: flex;
        text-decoration: none;
        color: black;
     }
     li{
list-style: none;
margin-left: 50px;
padding-top: 30px;
     }
     li:hover{
        color: orange;
     }

    }
    .suratt{
        width: 100%;
        height: 100vh;
        background-image: url(./IMG/glava.jpeg);
        background-size: cover;
        background-position: center;
        display: grid;
align-items: center;
justify-content: center;
        .drn{
            width: 650px;
            height: 450px;
            border: 10px solid white;
background-color: rgba(0, 0, 0, 0.3);
box-shadow: 10px 100px 100px 2px ;
display: grid;
justify-content: center;
p{
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 120px;
    color: #FFFF;
}
h1{
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 1px;
    width: 450px;
    color: #FFFF;
    font-weight: 400;
    letter-spacing: 3px;
    height: 150px;
    padding-bottom: 80px;
}
        }
    }
    .suratoo{
        width: 100%;
        height: 350px;
        background-color: #FFFF;
        display: flex;
        .di1{
            background-image: url(./IMG/1km.jpeg);
            background-position: center;
            background-size: cover;
            width: 25%;
            height: 350px;
        }
        .di2{
            background-image: url(./IMG/2ym.jpeg);
            background-position: center;
            background-size: cover;
            width: 25%;
            height: 350px;
        }
        .di3{
            background-image: url(./IMG/3ym.jpeg);
            background-position: center;
            background-size: cover;
            width: 25%;
            height: 350px;
        }
        .di4{
            background-image: url(./IMG/4rm.jpeg);
            background-position: center;
            background-size: cover;
            width: 25%;
            height: 350px;
        }
    }
    .ay1to6{
        width: 100%;
        height: 100vh;
        display:flex;
        flex-wrap: wrap;
        padding-top: 70px;
        justify-content: center;
        align-items: center;
    .div1{
        margin-left: 50px;
        width: 26%;
        padding: 10px;
        height: 330px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
    .div2{
        width: 26%;
        padding: 10px;
        height: 330px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
    .div3{
        width: 26%;
        padding: 10px;
        height: 330px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
    .div4{
        margin-left: 50px;
        width: 26%;
        padding: 10px;
        height: 370px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
    .div5{
        width: 26%;
        padding: 10px;
        height: 370px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
    .div6{
        width: 26%;
        padding: 10px;
        height: 370px;
        background-color: #FFFF;
        h2{
            color: #c5a28f ;
        }
        h1{
            font-size: 1.25rem;
    font-weight: 700;
    padding-top: 10px;
        }
        p{
            font-size: 1rem;
    line-height: 1.8;
    color: #999999 ;
    width: 70%;
    padding-top: 20px;
        }
        a{
            color: black;
            text-decoration: solid #c5a28f;
        }
    }
   
    
    }

}
.nisa-container {
    width: 100%;
    height: 120vh;
    .nisa-items {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 110vh;
        margin-left: 5%;
        @include sm {
            flex-direction: column  ;
        }
        .nisa-left {
            width: 30%;
            height: 100%;
            @include sm {
                width: 100%;
            }
            .nisa-txt {
                background-color: lightgrey;
                width: 100%;
                height: 60vh;
                margin-top: 5%;
                h1 {
                    padding-top: 15%;
                    margin-left: 7%;
                    font-size: 25px;
                    font-weight: 400;
                }
                p {
                    width: 80%;
                    margin-left: 7%;
                    font-size: 20px;
                    color: rgb(146, 139, 139);
                }
                h2 {
                    a {
                        text-decoration: none;
                        margin-left: 7%;
                        color: black;
                        border-bottom: 3px solid brown;
                        
                    }
                }
            }
            .nisa-image img {
                margin-top: 5%;
                width: 100%;
                height: 70vh;
                
            }
           
        }
        .nisa-center {
            width: 30%;
            height: 100%;
            @include sm {
                width: 100%;
                height: auto;
            }
            .nisa-image {
                width: 100%;
                height: 70vh;
                margin-top: 45%;
                h1 {
                    text-align: center;
                    font-size: 70px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .nisa-right {
            width: 30%;
            height: 100%;
            @include sm {
                width: 100%;
                height: auto;
                margin-top: 25%;
            }
            .nisa-img {
                width: 100%;
                img {
                    width: 100%;
                    height: 70vh;
                }
            }
            .nisa-text {
                margin-top: 5%;
                h1 {
                    padding-top: 30%;
                    margin-left: 7%;
                    font-size: 25px;
                    font-weight: 400;
                }
                p {
                    width: 80%;
                    margin-left: 7%;
                    font-size: 20px;
                    color: rgb(146, 139, 139);
                }
                h2 {
                    a {
                        text-decoration: none;
                        margin-left: 7%;
                        color: black;
                        border-bottom: 3px solid brown;
                        
                    }
                }
            }
        }
    }
}

.mdcont{
    
    width: 100%;
    height: auto;
    @include sm{
        width: 160%;
    }
    .mdob{
        display: flex;
        @include sm{
              flex-direction: column;
            
        }
        .mdleft{
            width: 34%;
            height: auto;
            align-self: center;
            @include sm{
                width: 100%;
                height: auto;
               
            }
            
            h1{
                
                margin: auto;
                font-size: 60px;
                width: 400px;
            
            }
        }
        .mdimg{
           width: 66%;
            @include sm{
                width:100%;
                height: 300px;
            }
            img{
                
                width: 100%;
                height:573px;
            }
        }
    }
    .mdimg2{
        display: flex;
        margin-top: -4px;
        width: 100%;
        height: auto;
        .mdimg1{
            display: flex;
            
        }

        img{
            width: 50%;
            height: 524px;
        }
    }
    .mdimg3{
        display:flex;
        flex-direction: column;
    }
    .mdtext22{
        margin: auto;
        background-color: #f9f5f2;
        text-align: center;
        width: 100%;
      
      
        h1{
            padding-top: 20px;
            margin: auto;
            width: 570px;
            font-size: 50px;
        }
        p{
            padding-top: 17px;
            margin: auto;
            width: 790px;
            color: gray;
           padding-bottom: 70px;
           font-size: 20px;
        }
        h4{
            padding-top: 70px;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
}
#moun{
    width: 300px;
    height: 262px;
}
#moun2{
    width: 300px;
    height: 262px;
}
#kon{
    width: 331px;
  
}
.container-ma{
    width: 100%;
    background-color:#F9F5F2;
    height: 100vh;
    @include sm{
        width:100%;
        height: auto;
    }
  
   }
  .fotki-ma{
   
    display: grid;
    grid-template-columns:30% 30% 30% ;
 grid-template-rows: auto;
    justify-content: space-around;
   align-content: center;
   height: 100vh;

   @include sm{
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
background-color:#F9F5F2;}
   h1{
    font-family: Roboto,sans-serif;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight:100;
    font-size: 1.4em;
    
   }
   p{
    font-size: 17px;
    font-family: Roboto,sans-serif;
    text-align: center;
    font-weight:100;
color: #9F9999;}
    img{
        width:100%;
    }
    .fotki-ma1{
        @include sm{width: 70%;
        margin-left: 40px;}
        background-color: white;
        padding: 30px;
    }
    span{
        cursor: pointer;
        border-bottom: 1px solid;
        color: black;
    }
  
  }
  